<h1 id="-">如何解决回调函数的绑定</h1>
<p>问题描述：
 在setTimeout/ajax等异步执行的如果获取到调用者this（执行上下文);</p>
<ul>
<li><p>例一</p>
<pre><code>   function A(){
       this.b = function(){
           function c(){
               //调用A的实例
           };
           c();
       }
   }

   let a = new A();
   a.b();
</code></pre></li>
<li><p>例二
```</p>
</li>
</ul>
<pre><code> function C(){
     this.b = function(){
          setTimeout(function(){
              //调用C的实例
          });
      }
 } 

 let c = new C();
 c.b();
</code></pre><p> ```</p>
<h2 id="-">分析</h2>
<pre><code>这是一个有关执行上下文的问题。
</code></pre><ul>
<li>在函数内部，this的值取决于函数是如何调用的。</li>
<li>对象方法中的 this
  当以对象里的方法的方式调用函数时，它们的 this 是调用该函数的对象.</li>
<li>原型链中的 this
  <code>相同的概念在定义在原型链中的方法也是一致的。如果该方法存在于一个对象的原型链上，那么this指向的是调用这个方法的对象，表现得好像是这个方法就存在于这个对象上一样。</code></li>
<li>构造函数中的 this
  <code>当一个函数被作为一个构造函数来使用（使用new关键字），它的this与即将被创建的新对象绑定。</code></li>
<li>call 和 apply方法
  <code>当一个函数的函数体中使用了this关键字时，通过所有函数都从Function对象的原型中继承的call()方法和apply()方法调用时，它的值可以绑定到一个指定的对象上。</code></li>
<li>bind 方法(ECMAScript 5)
  <code>会</code>创建<code>一个与f具有相同函数体和作用域的函数，但是在这个新函数中，this将永久地被绑定到了bind的第一个参数，无论这个函数是如何被调用的。</code></li>
<li>没有通过绑定的function的执行上下文都是window。</li>
</ul>
<h2 id="-let-that-this-">方法一： let that = this;</h2>
<pre><code>这个方法绕过了执行上下文，利用了闭包的性质。去作用域链上找that执行函数。
</code></pre><h2 id="-bind">方法二： bind</h2>
<pre><code>将函数绑定在需要的对象上，无论如何被调用都
</code></pre><h2 id="-es6">方法三： ES6</h2>
<p> The value of this is dependent upon two things: The type of code being executed (i.e., global, function, or eval) and the caller of that code.</p>
<ul>
<li>参考<ul>
<li><a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Operators/this">https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Operators/this</a></li>
</ul>
</li>
</ul>
