<h2 id="-">各种类型的判断方法</h2>
<ul>
<li><p>对象</p>
<pre><code>Object.prototype.toString.call({})
//&quot;[object Object]&quot;
</code></pre></li>
<li><p>undefined</p>
<pre><code>Object.prototype.toString.call(undefined)
//&quot;[object Undefined]&quot;
</code></pre></li>
<li><p>null</p>
<pre><code>Object.prototype.toString.call(null)
//&quot;[object Null]&quot;
</code></pre></li>
<li><p>Symbol</p>
<pre><code>Object.prototype.toString.call(Symbol())
//&quot;[object Symbol]&quot;
</code></pre></li>
<li><p>布尔值</p>
<pre><code>Object.prototype.toString.call(true)
//&quot;[object Boolean]&quot;
</code></pre></li>
<li><p>正则</p>
<pre><code>Object.prototype.toString.call(/d/)
//&quot;[object RegExp]&quot;
</code></pre></li>
<li><p>数值</p>
<pre><code>Object.prototype.toString.call(1)
//&quot;[object Number]&quot;
</code></pre></li>
<li><p>字符串</p>
<pre><code>Object.prototype.toString.call(&#39;&#39;)
//&quot;[object String]&quot;
</code></pre></li>
<li><p>数组</p>
<pre><code>Object.prototype.toString.call([])
//&quot;[object Array]&quot;
</code></pre></li>
</ul>
<h3 id="-">封装成函数</h3>
<pre><code>var isArray = Function.isArray || function(o) {
    return typeof o === &#39;object&#39; &amp;&amp; 
    Object.prototype.toString.call(o);
}
</code></pre>