<html><head></head><body><h1 id="-">各种类型的判断方法</h1>
<ul>
<li><p>对象</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">({})</span>
<span class="c1">//&quot;[object Object]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>undefined</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="kc">undefined</span><span class="p">)</span>
<span class="c1">//&quot;[object Undefined]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>null</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="kc">null</span><span class="p">)</span>
<span class="c1">//&quot;[object Null]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>Symbol</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="nx">Symbol</span><span class="p">())</span>
<span class="c1">//&quot;[object Symbol]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>布尔值</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="kc">true</span><span class="p">)</span>
<span class="c1">//&quot;[object Boolean]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>正则</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="sr">/d/</span><span class="p">)</span>
<span class="c1">//&quot;[object RegExp]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>数值</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
<span class="c1">//&quot;[object Number]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>字符串</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="s1">&#39;&#39;</span><span class="p">)</span>
<span class="c1">//&quot;[object String]&quot;</span>
</pre></div>

</code></pre></li>
<li><p>数组</p>
<pre><code><div class="highlight"><pre><span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">([])</span>
<span class="c1">//&quot;[object Array]&quot;</span>
</pre></div>

</code></pre></li>
</ul>
<h3 id="-">封装成函数</h3>
<pre><code><div class="highlight"><pre><span class="kd">var</span> <span class="nx">isArray</span> <span class="o">=</span> <span class="nb">Function</span><span class="p">.</span><span class="nx">isArray</span> <span class="o">||</span> <span class="kd">function</span><span class="p">(</span><span class="nx">o</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="k">typeof</span> <span class="nx">o</span> <span class="o">===</span> <span class="s1">&#39;object&#39;</span> <span class="o">&amp;&amp;</span> 
    <span class="nb">Object</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">toString</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="nx">o</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>

</code></pre></body></html>