<html><head></head><body><h1 id="-jsonp-github-page-">尝试自己封装jsonp，在github page上使用</h1>
<ul>
<li><p>五层 从前端到后端
view -》jsonp组件 -》 后端router -》 处理层 -》 数据库</p>
<ul>
<li>jsonp 前端组件， 自己写用Es6写</li>
<li>后端server使用express</li>
<li>后端数据库使用mongod</li>
</ul>
</li>
</ul>
<h2 id="-jsonp-">第一步， 写jsonp组件</h2>
<p>有几个关键的点：</p>
<ul>
<li>url参数拼接</li>
<li>script元素构造</li>
<li><p>callback函数名传参与存放删除</p>
<pre><code><div class="highlight"><pre><span class="kd">let</span> <span class="nx">cbName</span> <span class="o">=</span> <span class="s1">&#39;cb&#39;</span> <span class="o">+</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">ceil</span><span class="p">(</span><span class="nb">Math</span><span class="p">.</span><span class="nx">random</span><span class="p">()</span> <span class="o">*</span> <span class="mi">1000</span><span class="p">);</span>
<span class="nx">_jsonp</span><span class="p">[</span><span class="nx">cbName</span><span class="p">]</span> <span class="o">=</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">data</span><span class="p">)</span> <span class="p">{</span>
   <span class="k">try</span><span class="p">{</span>
       <span class="nx">success</span><span class="p">(</span><span class="nx">data</span><span class="p">);</span>
   <span class="p">}</span><span class="k">catch</span><span class="p">(</span><span class="nx">e</span><span class="p">){</span>
       <span class="c1">// console.log(e)</span>
   <span class="p">}</span><span class="k">finally</span><span class="p">{</span>
       <span class="k">delete</span> <span class="nx">_jsonp</span><span class="p">[</span><span class="nx">cbName</span><span class="p">];</span>
   <span class="p">}</span>
<span class="p">};</span>
</pre></div>

</code></pre><ul>
<li>存放：利用构造函数在设置一个全局变量<code>roots._jsonp = {}</code>。 在每次调用makeUrl时用random给_jsonp添加一个随机函数名，将回调函数放在该函数中。</li>
<li>回收： finally中删除_jsonp的相关函数</li>
</ul>
</li>
</ul>
<h2 id="-router">第二步 router</h2>
<p>使用方法</p>
</body></html>