<p><img src="/dev/source/imgs/hopes.jpg" alt=""></p>
<h2 id="-">终于告一段落，还好没放弃。</h2>
<p>从上个月开始投简历，到这周正式裸辞去找工作，半个月时间。回想这半个月，经历的情感变化确实很丰富。必须承认，还没到年底就辞职就是个错误。但理想化人格和易冲动体质不可避免地导致忽略细想后果。</p>
<p>半个月内，马不停蹄地在各个平台投简历。我的目标很明确 —— 只去成熟的大公司，D轮以上。刚开始我的信心也很充盈，相信自己的能力已经能比较不费劲地闯进大门。然而事实却在我脸上重重地删了几耳光，清脆而响亮。</p>
<p>第一个面试，是’一点资讯‘的主动邀请，这是我还没开始投。怀着试探的态度去面试，经历了两轮面试，自己对整个面试的过程感觉也很好。两轮之后等了一会，说是主管在开会，让我暂时先回去。并不懂这套路的我，一直对offer抱以幻想。最后正面的拒绝都没有，直接在拉钩上把状态置为不合适。这次的经历除了觉得有点难过以外，也没多想。于是马不停蹄地开始了被虐的求职之路。</p>
<p>刚开始挑选着还不错的职位去投，滴滴，网易，京东什么的。简历的处理速度都不太快，最后只苦等来两个面试机会，一个是搜狗，另一个是美团。这两家的面试都是两轮，面试过程也觉得说的挺好，不论是交流还是做题，都很顺利。但是结果都是主管不在，回去等消息。最终就是在心慌不安中收到了拒绝的的回复。连续几轮的面试被拒让我沮丧至极，不停地找原因，自身的客观的。原因从个人来说，三次面试虽然都感觉不错，但是都还是会有一些瑕疵，比如一些css问题没回答上来。客观上来看，应该是年底的时候，离职少，岗位空缺少。我开始安慰自己，也许不是自己的问题。也给自己想好了退路。给自己一个期限，一个月之内找不到合适的话，就干脆不找了。先去做一些自己想做的事情，比如学车，等到来年再找。</p>
<p>有了以上想法，我开始海投，主攻拉钩。</p>
<p>结果还是挺残忍的。看着求职状态一个个被查看，然后直接被扔进不合适，我的心一点点地沉重起来，自信心也逐渐被摧残。我一直都没想通，滴滴到底是闹哪样，投的几个不同的职位都是轻飘飘地被忽略。还有最期待的网易，也是如此。就算是反复改了自己的简历之后结果依然。</p>
<p>终于，转机到。连续收到了58/小米/搜狐/阿里的面试邀请。</p>
<p>第一天，58进行了4轮面试，直接到了人力，感觉很不错，不过也没直接给offer。回家等。
第二天，小米进行了6轮面试，一直到MIUI的项目总监吧，虽然一路被各种算法题虐，但最后的结果还是被大boss认可了。虽然没面到人力，但心里有谱。
第三天，搜狐进行了3轮面试，直接到人力，感觉也有戏。</p>
<p>在面完搜狐的下午，收到了小米的口头offer，应许薪资比期望高了一些，有些欣喜，可能不止这一点欣喜，更多的是被认可的高兴吧。那被摧残得残破不堪的信心开始重建愈合。加上面试的体验和对小米公司的印象，决定接受这第一份offer。当天晚上7点，58的人力来了电话，发来口头offer。我婉拒了。不一会儿，58的负责人打电话联系我，询问情况。最后加微信和我探讨怎么样才是对自己职业规划的最好选择。虽然他最终还是没有改变我的想法，但我仍然对他莫名的感激。当时萌生了一个想法：一定要继续更加努力，成为更牛更好的自己。因为我太喜欢这种被大家认可的感觉。</p>
<p>今天上午，收到了搜狐的offer。心情已经没有了多大的波澜。</p>
<p>回头看看仅仅半月却很漫长的求职路，跌宕起伏的情绪历程，感慨不已。希望失望，难过开心…… </p>
<h2 id="-">未来，春会有暖时，花也将盛开。</h2>
<p>果断的结束掉痛苦的旧生活，在求职中浴火重生之后，忘掉以前的纷纷扰扰，接下来都是全新的历程。对自己的期待需要更上一层楼。</p>
<p>这一年的规划：
首先是职业上的规划：</p>
<ul>
<li>突破瓶颈期，继续打牢前端基础（JS和CSS），看完技术书</li>
<li>融会贯通VUE框架， 努力学习源码</li>
<li>按更高要求来完成开发任务，不抱怨</li>
<li>认真学习算法，学会后端开发。</li>
</ul>
<p>然后是个人规划：</p>
<ul>
<li>拿到驾照</li>
<li>学好滑板的高级动作</li>
<li>至少读完6本书（书单再说）</li>
<li>旅行一次吧（西藏）</li>
</ul>
